<mat-card class="example-card">
  <form [formGroup]="updateForm">
    <mat-card-header>
      <mat-card-title>Post Updates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label> My Email </mat-label>
        <input matInput email formControlName="email" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Friend's Email </mat-label>
        <input matInput email formControlName="friendEmail" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Text </mat-label>
        <textarea matInput formControlName="text" required></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="reset" color="accent">Clear</button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onSubmitorm()"
        [disabled]="updateForm.invalid"
      >
        Post Updates
      </button>
    </mat-card-actions>
  </form>
</mat-card>
