<mat-nav-list>
  <a mat-list-item routerLink="/add-account" routerLinkActive="mat-link-active">
    <mat-icon>person_add</mat-icon>
    <span>Add Account</span></a
  >
  <a
    mat-list-item
    routerLink="/link-up-friends"
    routerLinkActive="mat-link-active"
  >
    <mat-icon>compare_arrows</mat-icon>
    <span>Link Up</span></a
  >
  <a
    mat-list-item
    routerLink="/friends-list"
    routerLinkActive="mat-link-active"
  >
    <mat-icon>face</mat-icon>
    <span>Friends List</span></a
  >
  <a
    mat-list-item
    routerLink="/common-friends"
    routerLinkActive="mat-link-active"
  >
    <mat-icon>merge_type</mat-icon>
    <span>Common Friends</span></a
  >
  <a
    mat-list-item
    routerLink="/post-updates"
    routerLinkActive="mat-link-active"
  >
    <mat-icon>post_add</mat-icon>
    <span>Post Updates</span></a
  >
</mat-nav-list>
